.board{
  width: 80vw;
  margin-left: 10vw;
}

  table{
    width: 77vmin;
    height: 77vmin;
    marigin: 0 auto;
  }

.cell{
  width:25vmin;
  height:25vmin;
  border-width: 1vmin;
  border-color: blue;
}


#cell11 , #cell12, #cell21, #cell22{
  border-style: none solid solid none;
}

#cell13, #cell23{
  border-style: none none solid none;
}

#cell31, #cell32{
  border-style: none solid none none;
}

.row {
  width: 525px;
}

.o{
    background: url('images/o.png');
    background-size : 25vmin 25vmin;
    background-repeat : no-repeat;
}

.x{
    background: url('images/x.png');
    background-size : 25vmin 25vmin;
    background-repeat : no-repeat;
}